extends layout

block content
  nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    div.container
      div.navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand 7
      div.navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a Chat
        ul.nav.navbar-nav.navbar-right
          li
            a#nav-name nick name not set

  div.container
    .alert.alert-warning.alert-dismissible(role='alert')
      button.close(type='button', data-dismiss='alert')
        span(aria-hidden='true') ×
        span.sr-only Close
      strong Notification:  
        | please set nick name before sending messages
    .row
      .col-md-8
        .panel.panel-default
          .panel-heading
            h3.panel-title Message
          .panel-body
            ul#messages
            form#mf(role='form')
              .input-group
                input#m.form-control(type='text', placeholder="Enter your message and hit 'enter' or click 'send'")
                span.input-group-btn
                  button.btn.btn-default(type='submit') Send
      .col-md-4
        .panel.panel-default
          .panel-heading
            h3.panel-title Friends
          .panel-body
            ul#friends
            form#ff(role='form')
              .input-group
                input#nick.form-control(type='text', placeholder="Enter your nick name here")
                span.input-group-btn
                  button.btn.btn-default(type='submit') Set Nick Name
